* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background:#9DB2BF;
}

header {
    background: #27374D;
    color: #DDE6ED;
    padding: 20px 0;
    position: fixed;
    display: flex; justify-content: space-between ; 
    box-shadow: 2px 1px 2px #27374D;
    width: 100%;
    z-index: 1000;
}

.logo {
    float: left;
    margin-left: 10px;
}

.logo img {
    width: 60px; 
    height: 40px;
    border-radius: 10px; 
    margin: 0px 20px;
}

nav {
    float: right;
    margin-right: 20px;
}

nav ul {
    list-style: none; /* Remove list styles */
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #526D82; /* Hover background color */
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient( #526D82, #9DB2BF);
    min-width: 120px;
    z-index: 1;
    right: 0px;
    top: 30px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    display: block;
    padding: 15px 10px;
    color: #fff; /* Dropdown text color */
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #526D82; /* Hover background color */
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 151px;
}

.box {
    width: calc(60% - 10px);
    padding: 20px;
    margin-top: 80px;
    background-color: #DDE6ED; /* Box background color */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.box h2, h3 {
    margin-bottom: 10px;
    color: #364156; /* Heading color */
    padding: 20px 20px;
}

.contact-form {
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #364156;
}



/* Footer */
.foot{
    background: #27374D;
    padding: 20px 0;
    display: flex; justify-content: space-between ; 
    box-shadow: 2px 1px 2px #27374D;
    display: flex;
    justify-content:end;
}

.foot-content{
    color: #DDE6ED;
    padding-right: 30px;
}